<nav>
    <ul>
        <a href="{{ path('home') }}">
            <li>
                <div class="home-icon">
                    <div class="roof">
                        <div class="roof-edge"></div>
                    </div>
                    <div class="front"></div>
                </div>
            </li>
        </a>
        <a href="{{ path('article_new') }}">
            <li>
                <div>
                    <div class="fas fa-plus" style="font-size:35px;color:white;"></div>
                </div>
                </div>
            </li>
        </a>
        <a href="{{ path('live_index') }}">
            <li>
                <div class="work-icon">
                    <i class="fas fa-camera-retro" style="font-size:35px;color:white;"></i>
                </div>
            </li>
        </a>
        <a href="{{ path('home') }}">
            <li>
                <div class="mail-icon">
                    <i class="fas fa-user-plus" style="font-size:35px;color:white;"></i>

                </div>
            </li>
        </a>
        <a href="{{ path('commande_new') }}">
            <li>
                <div class="mail-icon">
                    <i class="far fa-clipboard" style="font-size:35px;color:white;"></i>
                </div>
            </li>
        </a>
    </ul>
</nav>
