{% form_theme form 'bootstrap_4_layout.html.twig' %}

{{ form_start(form) }}
<fieldset class="form">
    <legend>Ajouter une commande</legend>
    <table class="form_table2">
        <tr>
            {% if error %}
                <div class="alert alert-danger">
                    {{ error }}
                </div>
            {% endif %}
        </tr>

        <tr>
            <td class="td_label">
                {{ form_label(form.panier, 'Panier : ',  {'attr': {'class': 'form_label'} }) }}
            </td>
            <td class="td_field2">
                {{ form_widget(form.panier, { 'attr': {'class': 'form_field', 'autocomplete': 'off', 'outline': 'none'} }) }}
            </td>
        </tr>
        <tr>
            <td class="td_label">
                {{ form_label(form.article, 'Article : ',  {'attr': {'class': 'form_label'} }) }}
            </td>
            <td class="td_field2">
                {{ form_widget(form.article, { 'attr': {'class': 'form_field', 'autocomplete': 'off', 'outline': 'none'} }) }}
            </td>
        </tr>
        <tr>
            <td class="td_label">
                {{ form_label(form.color, 'Couleur: ',  {'attr': {'class': 'form_label'} }) }}
            </td>
            <td class="td_field2">
                {{ form_widget(form.color, { 'attr': {'class': 'form_field', 'autocomplete': 'off', 'outline': 'none'} }) }}
            </td>
        </tr>
        <tr>
            <td class="td_label">
                {{ form_label(form.size, 'Taille : ') }}
            </td>
            <td class="td_field2">
                {{ form_widget(form.size, { 'attr': {'class': 'form_field2'} }) }}
            </td>
        </tr>
        <tr>
            <td class="td_label">
                {{ form_label(form.quantite, 'Quantité : ') }}
            </td>
            <td class="td_field2">
                {{ form_widget(form.quantite) }}
            </td>
        </tr>
        <tr>
            <td class="td_label">
                {{ form_label(form.promo, 'Promo : ') }}
            </td>
            <td class="td_field2">
                {{ form_widget(form.promo) }}
            </td>
        </tr>
    </table>
</fieldset>
    <button class="btnG">{{ button_label|default('Ajouter') }}</button>
{{ form_end(form) }}
