{% block title %}{% endblock %}

{% block body %}
    <h1>Commandes</h1>

    <table class="form_table2">
        <thead>
        <tr>
            <th>Panier</th>
            <th>Article</th>
            <th>Color</th>
            <th>Size</th>
            <th>Promo</th>
            <th>Prix</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.panier }}</td>
                <td>{{ commande.article }}</td>
                <td>{{ commande.color }}</td>
                <td>{{ commande.size }}</td>
                <td>{{ commande.promo }}</td>
                {% for article in articles %}
                    {% if article.id == commande.article %}
                        <td>{{ article.prixVente }}</td>
                    {% endif %}
                {% endfor %}
                <td>
                    <a href="{{ path('commande_delete', {'id': commande.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>

{% endblock %}
