{% block title %}{% endblock %}

{% block body %}

    <h1>Liste des clients</h1>
    <br>
    <table class="form_table2bis">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Pseudo</th>
                <th>Téléphone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.name }}</td>
                <td>{{ client.firstname }}</td>
                <td>{{ client.nickname }}</td>
                <td>{{ client.phone }}</td>
                <td>
                    <a href="{{ path('client_show', {'id': client.id}) }}" class="action_btn">show</a>
                    <a href="{{ path('client_edit', {'id': client.id}) }}" class="action_btn">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
