{% block title %}{% endblock %}

{% block body %}
    <h1>Tous les articles</h1>
    <br>
    <table class="form_table2bis">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>PrixAchat</th>
                <th>PrixVente</th>
                <th>Stock</th>
                <th>Quantité vendu</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.type }}</td>
                <td>{{ article.prixAchat }}</td>
                <td>{{ article.prixVente }}</td>
                <td>{{ article.stock }}</td>
                <td>{{ article.qteVendu }}</td>
                <td>
                    <a href="{{ path('article_edit', {'id': article.id}) }}"> <button class="btnR2">edit</button></a>
                    <form method="post" action="{{ path('article_delete', {'id': article.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
                        <button class="btnR2">Delete</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
