{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>Article</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ article.type }}</td>
            </tr>
            <tr>
                <th>PrixAchat</th>
                <td>{{ article.prixAchat }}</td>
            </tr>
            <tr>
                <th>PrixVente</th>
                <td>{{ article.prixVente }}</td>
            </tr>
            <tr>
                <th>Stock</th>
                <td>{{ article.stock }}</td>
            </tr>
            <tr>
                <th>QteVendu</th>
                <td>{{ article.qteVendu }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('article_index') }}">back to list</a>

    <a href="{{ path('article_edit', {'id': article.id}) }}">edit</a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
