{% extends 'base.html.twig' %}

{% block title %}Live index{% endblock %}

{% block body %}
    <h1>Tous les lives</h1>

    <table class="form_table2bis">
        <thead>
            <tr>
                <th>Id</th>
                <th>Jour</th>
                <th>DateDebut</th>
                <th>DateFin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for live in lives %}
            <tr>
                <td>{{ live.id }}</td>
                <td>{{ live.day }}</td>
                <td>{{ live.dateDebut ? live.dateDebut|date('d / m / Y') : '' }}</td>
                <td>{{ live.dateFin ? live.dateFin|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('commande_new', {'id': live.id}) }}"><button class="btnR2">Voir</button></a>
                    <a href="{{ path('recap_show_clients', {'id': live.id}) }}"><button class="btnB2">Récap</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<br>

        <a href="{{ path('live_new') }}"> <button class="btnG">Créer un live </button></a>

{% endblock %}
